@import 'bootstrap/scss/bootstrap.scss';

.card {
    margin: 0 10px;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
  }

  .toast {
      position: fixed;
      bottom: 0px;
      left: 0px;
      right: 0px;
      width: 100%;
      min-height: 40px;
      line-height: 40px;
      border: 1px solid grey;

      &.success {
          background: green;
      }
  }